
<div class="flex flex-row" id="colorPalettes">
	<div class="h-screen w-1/5 flex items-center justify-center"></div>
	<div class="h-screen w-1/5 flex items-center justify-center"></div>
	<div class="h-screen w-1/5 flex items-center justify-center"></div>
	<div class="h-screen w-1/5 flex items-center justify-center"></div>
	<div class="h-screen w-1/5 flex items-center justify-center"></div>
</div>

<script>
	function generateColor(){
		let values = "abcdef1234567890";
		let hexValues = ""
		let colorPalettes = document.getElementById("colorPalettes")
		
		for(let i = 0; i < 5; i++){
			for (let j = 0; j < 6; j++){
			  hexValues += values.charAt(Math.floor(Math.random()*values.length))
			};
			let palette = colorPalettes.children[i]
			palette.style.backgroundColor =  "#"+hexValues;
			palette.innerHTML = `<span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-500">${"#"+hexValues}</span>`;
			hexValues = "";
		}	
	};

document.addEventListener('keydown', event => {
  if (event.code === 'Space') {
    generateColor()
    event.preventDefault();
  }

})

generateColor()
</script>