
  <section class="background-radial-gradient mb-32">
    <div class="px-6 py-12 text-center md:px-12 lg:text-left h-full">
      <div class="container mx-auto">
        <div class="grid items-center gap-12 lg:grid-cols-2">
          <div class="mt-12 lg:mt-0">
            <h1 class="mb-4 text-5xl font-bold tracking-tight text-[hsl(218,81%,95%)] md:text-6xl xl:text-7xl">
              Choose<br /><span class="text-[hsl(218,81%,75%)]">Color Palette</span>
            </h1>
            <p class="text-lg text-[hsl(218,81%,95%)] mb-4">
              Create the perfect palette or get inspired by thousands of beautiful color schemes.
            </p>
            <%= link_to "Generate Color Palette", generate_home_index_path, class: "bg-indigo-500 text-white rounded-md px-3 py-2 text-sm font-medium shadow-lg" %>
          </div>
          <div class="mb-12 lg:mb-0">
            <div class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden rounded-lg shadow-lg">
              <!-- <div class="m-8  col-span-2"> -->
  							<%= image_tag("color_palette.svg")%>
  						<!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
